node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.staging.local
Dockerfile*
docker-compose*
.dockerignore
.DS_Store
.vscode
.idea
coverage
.nyc_output
*.log
logs
*.sqlite
*.sqlite3
.tmp
.cache
dist
build
.next
out
.vercel
